body {
    background-image:url("pics/trippy.jpeg");
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.calculator {
    width: 20vh;
    height: 40vh;
    display: inline-flex;
    flex-direction: column;
    background-color: #7B576E;
    margin: 20% 50%;
    border-radius: 10px;
    border-style: solid;
    
    
}

#screen {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    background-color: azure;
    font-size: xx-large;
    overflow:hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 2;
    
}

.button {
    border-radius: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.buttonsRow1, .buttonsRow2, .buttonsRow3, .buttonsRow4, .buttonsRow5  {
    display: flex;
    flex: 1;
    justify-content: center;

}

#zero {
    flex-grow: 2;
}

