html {
    background-image:url("pics/trippy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 30vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #dbc300;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: black;
}

#screen {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    background-color: azure;
    font-size: 40px;
    overflow: inherit;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 2;
    
}

.button {
    border-radius: 40px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: azure;
    font-weight: 700;
    font-size: 2vw;
}
.buttonsRow1, .buttonsRow2, .buttonsRow3, .buttonsRow4, .buttonsRow5  {
    display: flex;
    flex: 1;
    justify-content: center;

}

#zero {
    flex-grow: 2;
}

@media screen and (max-width: 480px){
    .calculator {
        width: 30vh;
        height: 50vh;
    }
    
    #screen {
        font-size: 3vh;
    }

    .button {
        font-size: 4vw;
    }
}

